
.container {
  display: flex;
  justify-content: space-between;
}
.container Option1 {
  width: 100%;
  padding: 5px;
  border: 1px solid black;
}
.container Option2 {
  width: 100%;
  padding: 5px;
  border: 1px solid black;
}
.container Option3 {
  width: 100%;
  padding: 5px;
  border: 1px solid black;
}
body {background-color: gainsboro}


#Option1 img {
    max-width:100%;
    height:auto;
}

#Option2 img {
    max-width: 100%;
    height:auto;
}

#Option3 img {
    max-width: 100%;
    height:auto;
}